.App {
  text-align: center;

}

body {
  background: url(ITMO.jpg);
}

.App-logo {
  top: 100px;
  left: 100px;
  height: 100px;
  width: 100px;
  pointer-events: none;
  background: gray;
  border: 3px solid brown;
  padding: 10px;
  left: auto;
  margin: 10px;
  }

.App-header {
  background: url(ITMO.jpg);
  padding: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
